[Unit]
Description=Run retention hourly

[Timer]
OnBootSec=15min
OnUnitActiveSec=1h
Unit=teslacam-retention.service

[Install]
WantedBy=timers.target
